@model List<SyT_FileManager.Models.GetCajasByAlmacenTipo_RP>
@using (Html.BeginForm("PrintCajasAlmacen", "Reportes", FormMethod.Post, new { target = "_blank", id = "form-print-cajas" }))
{
    @Html.Hidden("extension");
    @Html.Hidden("TipoAlmacen", "ACT")
    <div id="div-payload">
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(x => Model[i].CajaID)
            @Html.HiddenFor(x => Model[i].CajaActivaID)
            @Html.HiddenFor(x => Model[i].CajaFechaRecepcion)
            @Html.HiddenFor(x => Model[i].CajaPersonaEntrega)
            @Html.HiddenFor(x => Model[i].AlmacenNombre)
            @Html.HiddenFor(x => Model[i].Estante)
            @Html.HiddenFor(x => Model[i].Seccion)
            @Html.HiddenFor(x => Model[i].Nivel)
            @Html.HiddenFor(x => Model[i].Fila)
            @Html.HiddenFor(x => Model[i].Ubicacion)
        }
    </div>
    <table class="table table-hover" id="table-cajas-archivo-activo">
        <thead>
            <tr>
                <th id="CajaActivaID">#Caja</th>
                <th id="CajaFechaRecepcion">Fecha</th>
                <th id="CajaPersonaEntrega">Usuario envío</th>
                <th id="AlmacenNombre">Almacen</th>
                <th id="Estante">Estante</th>
                <th id="Seccion">Sección</th>
                <th id="Nivel">Nivel</th>
                <th id="Fila">Fila</th>
                <th id="Ubicacion">Ubicacion</th>
                <th>
                    @if (Model.Count > 0)
                    {
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-enterprise btn-sm shadow" title="Imprimir"
                                        onclick="$('#extension').val('@SyT_FileManager.AppCode.Constants.PDFExtension'); $('#form-print-cajas').submit();">
                                    <i class="fa fa-print"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm shadow" title="Exportar a excel"
                                        onclick="$('#extension').val('@SyT_FileManager.AppCode.Constants.ExcelExtension'); $('#form-print-cajas').submit();">
                                    <i class="fa fa-file-excel-o"></i>
                                </button>
                            </div>
                        </div>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CajaActivaID</td>
                    <td>@item.CajaFechaRecepcion.ToString("yyyy-MM-dd")</td>
                    <td>@item.CajaPersonaEntrega</td>
                    <td>@item.AlmacenNombre</td>
                    <td>@item.Estante</td>
                    <td>@item.Seccion</td>
                    <td>@item.Nivel</td>
                    <td>@item.Fila</td>
                    <td>@item.Ubicacion</td>
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
}