@model List<SyT_FileManager.Models.GetDocumentosPrestados_RP>
@using (Html.BeginForm("PrintDocumentosPrestados", "Reportes", FormMethod.Post, new { target = "_blank", id = "form-print-docsprest" }))
{
    @Html.Hidden("extension");
    <div id="div-payload">
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(x => Model[i].TipoDocNombre)
            @Html.HiddenFor(x => Model[i].DocDescripcion)
            @Html.HiddenFor(x => Model[i].NombreDepartamento)
            @Html.HiddenFor(x => Model[i].PrestNombreSolicitante)
            @Html.HiddenFor(x => Model[i].PrestEmailSolicitante)
            @Html.HiddenFor(x => Model[i].PrestObservacion)
            @Html.HiddenFor(x => Model[i].PrestFechaSolicitud)
            @Html.HiddenFor(x => Model[i].PrestFechaRetira)
            @Html.HiddenFor(x => Model[i].PrestPlazoMaximoDevolucion)
            @Html.HiddenFor(x => Model[i].PrestUsuarioEntrega)
            @Html.HiddenFor(x => Model[i].CajaID)
        }
    </div>
    <table class="table table-hover" id="table-documentos-prestados">
        <thead>
            <tr>
                <th id="CajaID">#Caja</th>
                <th id="TipoDocNombre">Documento</th>
                <th id="DocDescripcion">Descripción</th>
                <th id="Departamento">Departamento</th>
                <th id="PrestNombreSolicitante">Solicitante</th>
                <th id="PrestEmailSolicitante">Correo</th>
                <th id="PrestObservacion">Observación</th>
                <th id="PrestFechaSolicitud">Fecha solicitó</th>
                <th id="PrestFechaRetira">Fecha retiró</th>
                <th id="PrestPlazoMaximoDevolucion">Dias prestado</th>
                <th id="PrestUsuarioEntrega">Usuario entrego</th>
                <th>
                    @if (Model.Count > 0)
                    {
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-enterprise btn-sm shadow" title="Imprimir"
                                        onclick="$('#extension').val('@SyT_FileManager.AppCode.Constants.PDFExtension'); $('#form-print-docsprest').submit();">
                                    <i class="fa fa-print"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm shadow" title="Exportar a excel"
                                        onclick="$('#extension').val('@SyT_FileManager.AppCode.Constants.ExcelExtension'); $('#form-print-docsprest').submit();">
                                    <i class="fa fa-file-excel-o"></i>
                                </button>
                            </div>
                        </div>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CajaID</td>
                    <td>@item.TipoDocNombre</td>
                    <td>@item.DocDescripcion</td>
                    <td>@item.NombreDepartamento</td>
                    <td>@item.PrestNombreSolicitante</td>
                    <td>@item.PrestEmailSolicitante</td>
                    <td>@item.PrestObservacion</td>
                    <td>@item.PrestFechaSolicitud.ToString("yyyy-MM-dd")</td>
                    <td>@item.PrestFechaRetira.ToString("yyyy-MM-dd")</td>
                    <td>@item.PrestPlazoMaximoDevolucion Dias</td>
                    <td>@item.PrestUsuarioEntrega</td>
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
}
