@model PagedList.IPagedList<SyT_FileManager.Models.CajaModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Triturar Docs";
    bool searchOutdated = ViewBag.searchOutdated;
}

<h2><i class="fa fa-trash"></i> Triturar documentos</h2>
<hr />

@using (Html.BeginForm("Triturar", "ArchivoInactivo", FormMethod.Post))
{
    @Html.Hidden("lote")
    <div class="col-12 col-md custom-control custom-switch form-group">
        @Html.CheckBox("searchOutdated", searchOutdated, new { @class = "custom-control-input", id = "chk-searchOutdated" })
        <label class="custom-control-label" for="chk-searchOutdated">Mostrar solo cajas con documentos vencidos</label>
    </div>
    <button class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
}
<br />
<div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-hover">
        <thead style="position: sticky; top: 0;" class="bg-white">
            <tr>
                <th>#Caja</th>
                <th>Fecha recepción</th>
                <th>Almacen</th>
                <th>Estante</th>
                <th>Sección</th>
                <th>Nivel</th>
                <th>Fila</th>
                <th>Ubicación</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CajaInactivaID</td>
                    <td>@item.CajaFechaRecepcion</td>
                    <td>@item.SelectedAlmacen.AlmacenLabel</td>
                    <td>@item.SelectedEstante.RecursoItemNombre</td>
                    <td>@item.SelectedSeccion.RecursoItemNombre</td>
                    <td>@item.SelectedNivel.RecursoItemNombre</td>
                    <td>@item.SelectedFila.RecursoItemNombre</td>
                    <td>@item.SelectedUbicacion.RecursoItemNombre</td>
                    <td>
                        <a href="#div-partial" class="btn btn-enterprise btn-sm" onclick="seeDocuments(@item.CajaID, @(ViewBag.lote != null ? ViewBag.lote : 0));"><i class="fa fa-book"></i></a>
                    </td>
                </tr>
            }
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="9">
                        <h5 class="text-muted text-center">No hay datos que mostrar.</h5>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="div-partial">

</div>

<script type="text/javascript">
    function seeDocuments(CajaID, lote) {
        $.get('@Url.Action("_SelectDocuments", "ArchivoInactivo")', { CajaID: CajaID, lote: lote }, function (content, status) {
            $('#div-partial').fadeOut(200, function () {
                $(this).html(content).fadeIn(600);
            });
        }).fail(handleAjaxAuth);
    }
</script>