@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form-search" }))
{
    <div class="row">
        <label class="col-12 col-md">Filtros:</label>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchBox", true, new { @class = "custom-control-input", id = "chk-SearchBox" })
            <label class="custom-control-label" for="chk-SearchBox">Filtrar por #Caja</label>
        </div>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchDate", true, new { @class = "custom-control-input", id = "chk-SearchDate" })
            <label class="custom-control-label" for="chk-SearchDate">Filtrar por fecha</label>
        </div>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchUser", true, new { @class = "custom-control-input", id = "chk-SearchUser" })
            <label class="custom-control-label" for="chk-SearchUser">Filtrar por usuario</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4" id="col-SearchBox">
            <div class="form-group">
                <label>#Caja</label>
                @Html.TextBox("CajaID", null, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4" id="col-SearchDate">
            <div class="row">
                <div class="form-group col">
                    <label>Fecha inicio</label>
                    @Html.TextBox("FechaInicio", null, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control col-12" })
                </div>
                <div class="form-group col">
                    <label>Fecha fin</label>
                    @Html.TextBox("FechaFin", null, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control col-12" })
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4" id="col-SearchUser">
            <div class="form-group">
                <label>Usuario</label>
                @Html.TextBox("User", null, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-md-6 align-self-end pb-3">
            <button type="button" class="btn btn-success" onclick="search();"><i class="fa fa-search"></i> Buscar</button>
        </div>
    </div>
}

<div class="table-responsive" id="div-table">

</div>

<script type="text/javascript">
    function search() {
        const data = new FormData($('#form-search').get(0));
        var payload = Object.fromEntries(data.entries());
        payload.SearchBox = $('#chk-SearchBox').is(':checked');
        payload.SearchDate = $('#chk-SearchDate').is(':checked');
        payload.SearchUser = $('#chk-SearchUser').is(':checked');

        $.post('@Url.Action("_ArchivoActivo", "Reportes")', payload, function (table) {
            $('#div-table').html(table);
            $('#table-cajas-archivo-activo').smpSortableTable(false, 10, 'es');
            $('#table-cajas-archivo-activo').removeClass('smpSortableTable--processed');
            $('#table-cajas-archivo-activo thead th').attr('style', 'color: black !important');
            $('#table-cajas-archivo-activo thead th').removeClass('smpSortableTable--sortable table-documentos-prestados--sortable');
        }).fail((error) => console.log(error));
    }
</script>

