@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form-search" }))
{
    <div class="row">
        <label class="col-12 col-md">Filtros:</label>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchTestigo", true, new { @class = "custom-control-input", id = "chk-SearchTestigo" })
            <label class="custom-control-label" for="chk-SearchTestigo">Filtrar por testigo</label>
        </div>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchUser", true, new { @class = "custom-control-input", id = "chk-SearchUser" })
            <label class="custom-control-label" for="chk-SearchUser">Filtrar por usuario</label>
        </div>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchDate", true, new { @class = "custom-control-input", id = "chk-SearchDate" })
            <label class="custom-control-label" for="chk-SearchDate">Filtrar por fechas</label>
        </div>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchDocument", true, new { @class = "custom-control-input", id = "chk-SearchDocument" })
            <label class="custom-control-label" for="chk-SearchDocument">Filtrar por documento</label>
        </div>
        <div class="col-12 col-md custom-control custom-switch">
            @Html.CheckBox("SearchAct", true, new { @class = "custom-control-input", id = "chk-SearchAct" })
            <label class="custom-control-label" for="chk-SearchAct">Filtrar por #Acta</label>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12 col-md-6 col-xl-4" id="col-SearchTestigo">
            <div class="form-group">
                <label>Nombre testigo</label>
                @Html.TextBox("NombreTestigo", null, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4" id="col-SearchUser">
            <div class="form-group">
                <label>Usuario</label>
                @Html.TextBox("Usuario", null, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4" id="col-SearchDate">
            <div class="row">
                <div class="form-group col">
                    <label>Fecha inicio</label>
                    @Html.TextBox("FechaInicio", null, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control col-12" })
                </div>
                <div class="form-group col">
                    <label>Fecha fin</label>
                    @Html.TextBox("FechaFin", null, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control col-12" })
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4" id="col-SearchDocument">
            <div class="form-group">
                <label>Nombre documento</label>
                @Html.TextBox("TipoDocumento", null, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4" id="col-SearchAct">
            <div class="form-group">
                <label>#Acta</label>
                @Html.TextBox("TrituraID", null, new { @class = "form-control col-12", type = "number" })
            </div>
        </div>
        <div class="col-12 col-md-6 align-self-end pb-3">
            <button type="button" class="btn btn-success" onclick="search();"><i class="fa fa-search"></i> Buscar</button>
        </div>
    </div>
}

<div class="table-responsive" id="div-table">

</div>

<script type="text/javascript">
    function search() {
        const data = new FormData($('#form-search').get(0));
        var payload = Object.fromEntries(data.entries());
        payload.SearchTestigo = $('#chk-SearchTestigo').is(':checked');
        payload.SearchUser = $('#chk-SearchUser').is(':checked');
        payload.SearchDate = $('#chk-SearchDate').is(':checked');
        payload.SearchDocument = $('#chk-SearchDocument').is(':checked');
        payload.SearchAct = $('#chk-SearchAct').is(':checked');

        $.post('@Url.Action("_DocumentosTriturados", "Reportes")', payload, function (table) {
            $('#div-table').html(table);
            $('#table-documentos-triturados').smpSortableTable(false, 10, 'es');
            $('#table-documentos-triturados').removeClass('smpSortableTable--processed');
            $('#table-documentos-triturados thead th').attr('style', 'color: black !important');
            $('#table-documentos-triturados thead th').removeClass('smpSortableTable--sortable table-documentos-prestados--sortable');
        }).fail((error) => console.log(error));
    }
</script>
