@model SyT_FileManager.Models.UsuarioModel
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/login.css" />
    <style>
        .footer-bottom {
            position: absolute;
            bottom: 0;
        }
    </style>
</head>
<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="card-wrapper pt-5">
                    <div class="card fat">
                        <div class="card-body">
                            <div class="row">
                                <img src="@Url.Content("~/Content/imgs/background.png")" width="350" />
                                <h5 class="col-12 mt-3">Administración de Archivos</h5>
                            </div>
                            <hr />
                            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label for="UserId">Usuario</label>
                                    @Html.TextBoxFor(x => x.UserId, htmlAttributes: new { @class = "form-control col-12", required = "required", autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(x => x.UserId, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="password">
                                        Contraseña
                                    </label>
                                    <input id="password" type="password" class="form-control col-12" name="UserPassword" required data-eye>
                                </div>

                                if (!string.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <div class="alert alert-danger text-center">
                                        <label>@ViewBag.Message</label>
                                    </div>
                                }
                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-enterprise btn-block">
                                        Ingresar
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <footer class="footer-bottom container-fluid text-center">
                    <hr />
                    <h6>Powered by <a href="http://www.sytcorp.com/c" target="_blank"><img src="@Url.Content("~/Content/imgs/SyTCorp_Logo.jfif")" width="80" /></a> &copy; @DateTime.Now.Year</h6>
                </footer>
            </div>
        </div>
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Login.js"></script>
</body>
</html>
