@model PagedList.IPagedList<SyT_FileManager.Models.CajaModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Posicionar Cajas";
    int i = 1;
}

<h2><i class="fa fa-dropbox"></i> Posicionar cajas</h2>

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Usuario envío</th>
                        <th>Almacen registrado</th>
                        <th>Fecha envío</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.CajaPersonaEntrega</td>
                            <td>@item.SelectedAlmacen.AlmacenLabel</td>
                            <td>@item.CajaFechaRecepcion</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-info" title="ver documentos" onclick="seeDocuments(@item.CajaID)">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>

                        i++;
                    }
                    @if(Model.Count == 0)
                    {
                        <tr>
                            <td colspan="5">
                                <h5 class="text-muted text-center">No hay datos que mostrar.</h5>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <label>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</label>
        <br />
        @Html.PagedListPager(Model, page => Url.Action("Posicionar", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
    </div>
    <div class="col-12">
        <div id="div-partial">

        </div>
    </div>
</div>

<div class="modal fade" id="modal-ubicacion-caja" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-ubicacion-caja-title">Posicionar caja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-ubicacion-caja">
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('tbody tr').on('click', function () {
            $('tbody tr').removeClass('tr-selected');
            $(this).addClass('tr-selected');
        });
    });

    function seeDocuments(CajaID) {
        $.get('@Url.Action("_CajaDocumentos", "ArchivoActivo")', { CajaID: CajaID, ActionType: 'PositionBox' }, function (DocumentsGrid) {
            $('#div-partial').fadeOut(300, function () {
                $(this).html(DocumentsGrid).fadeIn(500);
                $('#new-CajaID').val(CajaID);
            });
        }).fail(handleAjaxAuth);
    }

    function placeBox(CajaID, AlmacenID) {
        $.get('@Url.Action("_UbicacionCaja", "ArchivoActivo")', { CajaID: CajaID, AlmacenID: AlmacenID }, function (content) {
            $('#modal-body-ubicacion-caja').html(content);
            $('#modal-ubicacion-caja').modal();
        }).fail(handleAjaxAuth);
    }
</script>