@model PagedList.IPagedList<SyT_FileManager.Models.BitacoraModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    bool SearchDate = ViewBag.SearchDate;
    bool SearchActionType = ViewBag.SearchActionType;
}

<div class="container">
    <h2>Bitacora de auditorias</h2>
    <hr />
    @using (Html.BeginForm("Index", "Bitacora", FormMethod.Post))
    {
        @Html.Hidden("postback", 1);
        <div class="row">
            <label class="col-12 col-md">Filtros: </label>
            <div class="col-12 col-md custom-control custom-switch">
                @Html.CheckBox("SearchDate", SearchDate, new { @class = "custom-control-input", id = "chk-searchDate", onchange = "handleCheckbox(this);" })
                <label class="custom-control-label" for="chk-searchDate">Filtrar por fecha</label>
            </div>
            <div class="col-12 col-md custom-control custom-switch">
                @Html.CheckBox("SearchActionType", SearchActionType, new { @class = "custom-control-input", id = "chk-searchActionType", onchange = "handleCheckbox(this);" })
                <label class="custom-control-label" for="chk-searchActionType">Filtrar por accion</label>
            </div>
        </div>
        <div class="row" id="div-advanced-search">
            <div class="col-12 col-md-6 @(SearchDate ? "" : "d-none")" id="col-SearchDate">
                <div class="row">
                    <div class="form-group col">
                        <label>Fecha inicio</label>
                        @Html.TextBox("FechaInicio", null, new { type = "date", @class = "form-control col-12" })
                    </div>
                    <div class="form-group col">
                        <label>Fecha fin</label>
                        @Html.TextBox("FechaFin", null, new { type = "date", @class = "form-control col-12" })
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 @(SearchActionType ? "" : "d-none")" id="col-SearchActionType">
                <div class="form-group">
                    <label>Acción</label>
                    @Html.DropDownList("Accion", null, "Seleccionar una accion", new { @class = "form-control col-12" })
                </div>
            </div>
        </div>
        <button class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
    }
    <br />
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Detalle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Fecha.ToString("dd MMM yyyy", new System.Globalization.CultureInfo("es-ES"))</td>
                        <td>@item.Fecha.ToString("HH:mm")</td>
                        <td>@item.Usuario</td>
                        <td>@item.Accion</td>
                        <td>@item.Accion @item.Entidad</td>
                        <td>
                            <button class="btn btn-sm btn-info shadow btn-detail" title="Ver detalles" data-toggle="modal" data-target="#modal-detalle"
                                    data-date="@item.Fecha.ToString("dd MMM yyyy", new System.Globalization.CultureInfo("es-ES")) @item.Fecha.ToString("HH:mm")"
                                    data-user="@item.Usuario" data-entity="@item.Entidad" data-action="@item.Accion" data-old="@item.ValorAnterior" data-new="@item.ValorActual"
                                    data-action-icon="@(item.Accion.ToLower() == "editar" ? "fa fa-pencil" : "fa fa-trash")">
                                <i class="fa fa-info-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <label>Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</label>
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, SearchDate, SearchActionType, Accion = ViewBag.SelectedAccion, ViewBag.FechaInicio, ViewBag.FechaFin }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>

<div class="modal fade" id="modal-detalle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles - <span id="span-date"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label>
                    Cambio realizado por:
                    <i class="fa fa-user"></i> <span id="span-user" class="font-weight-bold"></span>
                </label>
                <div class="row">
                    <div class="col-6">
                        <label>
                            Entidad <br />
                            <span id="span-entity"></span>
                        </label>
                    </div>
                    <div class="col-6">
                        <label>
                            Acción <br />
                            <i id="action-icon"></i> <span id="span-action"></span>
                        </label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-old">
                                </tbody>
                                <caption>Valores antiguos</caption>
                            </table>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Atributo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-new">
                                </tbody>
                                <caption>Valores nuevos</caption>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('tbody .btn-detail').on('click', function () {
            $('#span-date').text($(this).data('date'));
            $('#span-user').text($(this).data('user'));
            $('#span-entity').text($(this).data('entity'));
            $('#span-action').text($(this).data('action'));
            $('#action-icon').removeClass('fa fa-trash');
            $('#action-icon').removeClass('fa fa-pencil');
            $('#action-icon').addClass($(this).data('action-icon'));

            $('#tbody-old').html('');
            $('#tbody-new').html('');
            var oldData = $(this).data('old');
            var newData = $(this).data('new');

            Object.entries(oldData).forEach(entry => {
                const [key, value] = entry;
                $('#tbody-old').append(`
                    <tr>
                        <td>${key}</td>
                        <td>${value ?? ""}</td>
                    </tr>`
                );
            });

            Object.entries(newData).forEach(entry => {
                const [key, value] = entry;
                $('#tbody-new').append(`
                    <tr>
                        <td>${key}</td>
                        <td>${value ?? ""}</td>
                    </tr>`
                );
            });
        });
    });

    function handleCheckbox(element) {
        console.log($(element).attr('name'));
        $(`#col-${$(element).attr('name')}`).toggleClass('d-none');
    }
</script>