
<h5 class="text-center">Usuario: @ViewBag.UserId</h5>
<hr />

@using (Html.BeginForm("_UsuarioAlmacen", "Usuarios", FormMethod.Post))
{
    @Html.Hidden("UserId")
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                @Html.Label("Almacenes disponibles", new { @class = "col-form-label" })
                @Html.ListBox("AlmacenesDisponibles", null, new { @class = "form-control col-12", size = "10" })
            </div>
            <div class="text-right">
                <button class="btn btn-enterprise" type="button" title="Agregar todos" onclick="addAll();"><i class="fa fa-angle-double-right"></i></button>
                <button class="btn btn-enterprise" type="button" title="Agregar seleccionado" onclick="addSelected();"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                @Html.Label("Almacenes asignados", new { @class = "col-form-label" })
                @Html.ListBox("AlmacenesAsignados", null, new { @class = "form-control col-12", size = "10" })
            </div>
            <div class="text-left">
                <button class="btn btn-enterprise" type="button" title="Quitar seleccionado" onclick="removeSelected();"><i class="fa fa-angle-left"></i></button>
                <button class="btn btn-enterprise" type="button" title="Quitar todos" onclick="removeAll();"><i class="fa fa-angle-double-left"></i></button>
            </div>
        </div>
    </div>

    <br />

    <button class="btn btn-success" onclick="setSelectedItems();"><i class="fa fa-save"></i> Guardar</button>
    <button class="btn btn-danger" type="button" onclick="cancel();"><i class="fa fa-times"></i> Cancelar</button>
}

<script type="text/javascript">
    function setSelectedItems() {
        $('#AlmacenesAsignados option').prop('selected', 'selected');
    }

    function addSelected() {
        var selectedOption = $('#AlmacenesDisponibles option:selected');

        if (selectedOption.length == 0)
            alert('Favor seleccionar al menos un almacen.');

        selectedOption.each((index, element) => {
            $('#AlmacenesAsignados').append(element);
        });
    }

    function addAll() {
        var options = $('#AlmacenesDisponibles option');

        if (options.length == 0)
            alert('No hay almacenes disponibles para asignar.')

        options.each((index, element) => {
            $('#AlmacenesAsignados').append(element);
        });
    }

    function removeSelected() {
        var selectedOption = $('#AlmacenesAsignados option:selected');

        if (selectedOption.length == 0)
            alert('Favor seleccionar al menos un almacen.');

        selectedOption.each((index, element) => {
            $('#AlmacenesDisponibles').append(element);
        });
    }

    function removeAll() {
        var options = $('#AlmacenesAsignados option');

        if (options.length == 0)
            alert('No hay almacenes asignados.')

        options.each((index, element) => {
            $('#AlmacenesDisponibles').append(element);
        });
    }
</script>