@model SyT_FileManager.Models.AlmacenModel

@using (Html.BeginForm("_Almacen", "Almacenes", FormMethod.Post))
{
    <h5>@ViewBag.ActionType</h5>
    @Html.Hidden("ActionType")
    @Html.HiddenFor(x => x.AlmacenID)
    <br />
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="form-group">
                @Html.LabelFor(x => x.AlmacenNombre)
                @Html.TextBoxFor(x => x.AlmacenNombre, new { @class = "form-control col-12", maxlength = "200" })
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-group">
                @Html.LabelFor(x => x.AlmacenTipo)
                @Html.DropDownListFor(x => x.AlmacenTipo, new SelectList(Model.TipoAlmacenes, "RecursoItemID", "RecursoItemNombre"), new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-group">
                @Html.LabelFor(x => x.AlmacenDireccion)
                @Html.TextAreaFor(x => x.AlmacenDireccion, new { @class = "form-control col-12", rows = "3" })
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-group">
                @Html.LabelFor(x => x.AlmacenStatus)
                @Html.DropDownList("AlmacenStatus", null, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-group">
                @Html.LabelFor(x => x.AgenciaID)
                @Html.DropDownListFor(x => x.AgenciaID, new SelectList(Model.Agencias, "AgenciaID", "AgenciaNombre"), "Seleccione una agencia", new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="form-group">
                @Html.LabelFor(x => x.ZonaId)
                @Html.DropDownListFor(x => x.ZonaId, new SelectList(Model.Zonas, "RecursoItemID", "RecursoItemNombre"), new { @class = "form-control col-12" })
            </div>
        </div>
    </div>

    <button class="btn btn-success mt-3 mb-2"><i class="fa fa-save"></i> Guardar</button>
    <button class="btn btn-danger mt-3 mb-2" type="button" onclick="cancel();"><i class="fa fa-times"></i> Cancelar</button>
}