@model SyT_FileManager.Models.RecursoModel

@Html.Hidden("ActionType")

<div class="row">
    <div class="col-6">
        <div class="form-group">
            @Html.LabelFor(x => x.RecursoID)
            @if(Model == null)
            {
                @Html.TextBoxFor(x => x.RecursoID, new { @class = "form-control col-12", maxlength = "10", placeholder = "Id de recurso", required = "required"})
            }
            else
            {
                @Html.TextBoxFor(x => x.RecursoID, new { @class = "form-control col-12", maxlength = "10", placeholder = "Id de recurso", required = "required", @readonly = "readonly" })
            }
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            @Html.LabelFor(x => x.RecursoStatus)
            @Html.DropDownListFor(x => x.RecursoStatus, null, new { @class = "form-control col-12" })
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            @Html.LabelFor(x => x.RecursoNombre)
            @Html.TextBoxFor(x => x.RecursoNombre, new { @class = "form-control col-12", maxlength = "200", placeholder = "Nombre del recurso", required = "required" })
        </div>
    </div>
</div>